<md-bottom-sheet class="ng-isolate-scope" style="height:10px;font-size:10px;position:fixed;bottom:8px;" layout="row">
    <div> </div>
    <span flex=""></span>
    © Copyright JOYWORK
</md-bottom-sheet>