<div ng-controller="headerCtrl">
    <md-toolbar class="md-default-theme" layout="column" style="min-height:60px;max-height:60px;min-width:375px;">
    <span  class="between" style="margin: 15px">
        <span>
            <md-icon ng-click="onHomeClick()">home</md-icon>
            <md-icon  ng-click="toggleRight()">menu</md-icon>
            JoyWorking
        </span>
        <span ng-show="user" layout="row">
            <span>欢迎您，</span>
            <md-menu md-offset="-2 22">
                        <div><span ng-click="$mdOpenMenu($event)">{{user.username}}</span><md-tooltip>点击修改用户资料</md-tooltip></div>
                        <md-menu-content style="overflow: hidden;padding:0;margin:0;height:60px;width:auto;" ng-mouseleave="$mdCloseMenu();">
                        <md-menu-item style="max-height: 25px;min-height: 25px;height: 25px;"><md-button style="padding-left:6px;text-align:left;font-size: 13px" ng-click="updateUserData($event)"><span class="glyphicon glyphicon-user" style="color:  rgba(0,0,0,0.54);margin-left: 6px"></span><span style="margin-left: 20px">修改资料</span></md-button></md-menu-item>
                        <md-menu-item style="max-height: 25px;min-height: 25px;height: 25px;"><md-button style="padding-left:6px;text-align:left;font-size: 13px" ng-click="updatePassword($event)"><md-icon>edit</md-icon>修改密码</md-button></md-menu-item>
                        </md-menu-content>
            </md-menu>
            <!--<span>{{user.username}}</span>-->
            ，<span ng-click="onLoginOut()">退出登录</span></span>
    </span>

    </md-toolbar>
    <%- include('sidenav-right')-%>
</div>