<md-dialog style="width: 500px" aria-label="CHANGE PASSWORD">
    <div ng-controller="changePasswordCtrl">
        <form name="Form" ng-cloak  ng-submit="submitForm()">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{title}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div layout="column" class="md-dialog-content">
                    <md-input-container class="md-input-has-placeholder">
                        <input name="password"
                               ng-model="userdata.oldPassword"
                               type="password"
                               placeholder="请输入您的原密码"
                               ng-minlength="6"
                               ng-maxlength="255" required>
                    </md-input-container>
                    <md-input-container class="md-input-has-placeholder">
                        <input name="password"
                               ng-model="userdata.newPassword"
                               type="password"
                               placeholder="请输入您的密码"
                               ng-minlength="6"
                               ng-maxlength="255" required>
                        <span class="error" ng-show="(Form.password.$error.minlength
                    || Form.password.$error.maxlength)
                    && Form.password.$touched">密码长度必须在6-30之间</span>
                    </md-input-container>
                    <md-input-container class="md-input-has-placeholder">
                        <input name="repeatPassword"
                               ng-model="userdata.repeatPassword"
                               type="password"
                               placeholder="请再次输入您的密码"
                               ng-minlength="5"
                               ng-maxlength="30"
                               compare="userdata.newPassword" required>
                        <span class="error" ng-show="Form.repeatPassword.$error.compare
                    && Form.repeatPassword.$touched">两次输入密码不一致</span>
                    </md-input-container>

                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button type="submit">
                    确定
                </md-button>
                <md-button ng-click="cancel()">
                    取消
                </md-button>
            </md-dialog-actions>
        </form>
    </div>
</md-dialog>
